.h3 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 100px;
  color: #e0a449;
  text-align: center;
}

.artWorks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  margin-top: 25px;
  justify-content: center;
}
