.ArtWorkCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 390px;
  transition: all 0.3s;
  text-decoration-line: none;
}

.ArtWorkCard:hover {
  transform: scale(97%);
}

.cardFooter {
  position: relative;
  bottom: 30px;
  width: 334px;
  height: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  background-color: white;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  height: 100%;
}

.img {
  max-height: 500px;
}

.h2 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #393939;
}

.h3 {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 400;
  color: #e0a449;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
