.HomePage {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.h2 {
  font-size: 64px;
  max-width: 684px;
  text-align: center;
  margin-top: 120px;
  margin: 120px auto 0;
}

.searchAndSort {
  margin: 0 auto;
}

.h3 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 100px;
  color: #e0a449;
  text-align: center;
}

.gallery {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 32px;
  }
}
